div {
    width: fit-content;
    height: fit-content;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}

#buttonReset {
    margin: -100px 0px 0px 600px;
    position: absolute;
    width: 200px;
    height: 50px;
}
#buttonGenerate {
    margin: -100px 0px 0px 900px;
    position: absolute;
    width: 200px;
    height: 50px;
}
body {
    font-family: sans-serif;
}
#Background {
    background-image:   url("../Gis2/Media/bg.png");
    background-repeat:  repeat;
    margin: 0;
}
.Taskbar {
    position: fixed;
    background-color: rgb(56, 21, 102);
    top: 0px;
    width: 100%;
    margin: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(182, 143, 143, 0.493);
    overflow: auto;
    z-index: 1000;
}

#Headline {
    float: left;
    color: white;
    text-align: center;
    padding: 1% 2%;
    text-decoration: none;
    margin: 0;
}

.menu {
    float: right;
    color: white;
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
    margin: 0;
    transition: background-color 0.5s ease-in-out 0s;
}
#current {
    background-color: rgba(131, 31, 117, 0.507);
    color: white;
}
.menu:hover {
    background-color: rgba(250, 202, 244, 0.507);
    color: black;
    
}
#PartsDiv {
    position: absolute;
    margin-top: 200px;
    margin-left: 30px;
}
#PartsDiv > div{
    width: 880px;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    overflow:auto ;
    background-color: lightgray;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(182, 143, 143, 0.493);
}
#PartsDiv > div div{
    background-color: rgb(56, 21, 102);
    margin: 10px;
    width: 200px;
    height: 200px;
    color: black;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(182, 143, 143, 0.493);
}


#PartsDiv > div #selectedObj{
    background-color: rgba(250, 202, 244, 0.507);
}

#ausgewahlt {
    position: absolute;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(182, 143, 143, 0.493);
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-top: 200px;
    width: 960px;
    height: 1160px;
    background-color:lightgray;
}
#ausgewahlt div {
    color: black;
    background-color: rgba(179, 146, 174, 0.507);;
    margin: 40px;
    width: 400px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(182, 143, 143, 0.493);
}

#ausgewahlt div img{
    height: 400px;
    width: 400px;
}

#PartsDiv div img{
    height: 200px;
    width: 200px;
}

#saveButton {
    margin: 130px 0px 0px 430px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(182, 143, 143, 0.493);
    position: absolute;
    width: 200px;
    height: 50px;
    font-size: 22px;
}

#backButton {
    margin: 130px 0px 0px 220px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(182, 143, 143, 0.493);
    position: absolute;
    width: 200px;
    height: 50px;
    font-size: 22px;
}

#startButton {
    margin: 130px 0px 0px 410px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(182, 143, 143, 0.493);
    position: absolute;
    width: 200px;
    height: 50px;
    font-size: 22px;
}
#fortschritt {
    position: absolute;
    margin-left: 900px;
    margin-top: 400px;
    background-color: rgba(179, 146, 174, 0.507);;
}
#fortschritt div{
    position: absolute;
    width: 200px;
    height: 200px;
}
#fortschrittHolder img {
    position: absolute;
    margin-top: 300px;
    height: 600px;
}
#fortschrittIce img {
    position: absolute;
    width: 350px;
    margin: 100px 0px 0px 125px;
}
#fortschrittTopping img {
    position: absolute;
    width: 350px;
    margin: 80px 0px 0px 125px;
}
#fortschrittWaffel img {
    position: absolute;
    width: 350px;
    margin: 0px 0px 0px 200px;

}
#serverMessage {
    position: absolute;
    margin-top: 90px;
    margin-left: 30px;
    max-width: 900px;
}


#Produkt {
    position: absolute;   
    width: 500px; 
    margin: 200px 0px  0px 1000px;
    color: black;
    font-size: 30px;

}
